.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  min-height: calc(100vh - 100px);
  padding: 1rem 2rem;
}
