.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-primary);
}

.title {
  font-size: 80px;
  margin: 0;
  color: var(--accent-primary);
}

.description {
  margin: 0;
  color: var(--text-secondary);
}

.homeButton {
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.18s ease;
  background-color: var(--accent-primary);
  color: var(--palette-white);
  margin-top: 15px;
}

.homeButton:hover {
  background-color: var(--accent-dark);
}
