html {
  background: black;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #030712, #111827, #000000);
  background-attachment: fixed;
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-blue: #00366e;
  --background: #030712;
}
