.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 3rem;
  width: 100%;
  background-color: var(--background);
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.leftText {
  font-size: 12.5px;
  color: white;
}

.legal {
  color: white;
  font-size: 12.5px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
