.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.timelineContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}
