.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #030712, #111827, #000000);
}

.timelineContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}
