.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
  overflow: visible;
}

.svg {
  display: block;
  overflow: visible;
}
